fastapi
uvicorn
transformers>=4.51.1,!=4.52.*,!=4.53.* # 4.53.* error: https://github.com/vllm-project/vllm-ascend/pull/1482, 4.52.* warning: https://github.com/huggingface/transformers/pull/38366
datasets
pydantic
math_verify
pybind11[global]
vllm>=0.8.5
torch>=2.6.0
torchvision>=0.21.0
torchao>=0.10.0
tensordict==0.7.2
toml
StrEnum
redis
msgpack
qwen_vl_utils
flash-attn>=2.7.4.post1
pynvml
boto3
modelscope
cloudpickle
click
rich
pyyaml
blobfile
nvidia-nccl-cu12>=2.26.2
