cmake
fastapi
uvicorn
transformers>=4.51.1,!=4.52.*
datasets
pydantic
math_verify
pybind11[global]
vllm==0.8.5
flashinfer-python==0.2.2.post1
torch==2.6.0
torchvision==0.21.0
torchao==0.10.0
tensordict==0.7.2
toml
StrEnum
redis
msgpack
qwen_vl_utils
flash-attn==2.7.4.post1
setuptools==79.0.1
pynvml
boto3
modelscope
cloudpickle
click
rich
pyyaml
blobfile
